<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/todolist_php/node_modules/bootstrap/dist/css/bootstrap.min.css">

		<title>Document</title>
	</head>
	<body>
		<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="ligth">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">TODOLIST</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/todolist_php/public/">
								accueil
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/todolist_php/public/task/">
								mes tâches
							</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="rechechez une tâche" aria-label="Search">
						<button class="btn btn-outline-dark" type="submit">recherche</button>
					</form>
				</div>
			</div>
		</nav>

		{% block content %}
			{# <p>je suis dans base.twig</p> #}
		{% endblock %}
		{# <footer>ici mon footer</footer> #}
		<script src="/todolist_php/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	</body>
</html>