{% extends 'base.twig' %}
{% block content %}
	<form method="POST">
		<div class="mb-3">
			<label for="nom" class="form-label">Nom</label>
			<input type="text" class="form-control" id="nom" name="nom">
		</div>
		<div class="mb-3">
			<label for="prenom" class="form-label">Prénom</label>
			<input type="text" class="form-control" id="prenom"name="prenom">
		</div>
        <div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input type="text" class="form-control" id="email"name="email">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}
