{% extends 'base.twig' %}
{% block content %}
	<div class="container py-5">
        <div class="my-1">
            <a href="/todolist_php/public/task/">Retour aux résultats</a>
        </div>
		<div class="card">
			<div class="card-body">
				<div class="d-flex">
					<div>{{ task.title }}</div>
					<div class="px-2">
						<span class="badge text-bg-warning">{{ task.status}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}